@import "base.less";
@import "../pedit/common/pedit_common.less";
@import "../pedit/gallery/pedit_gallery.less";

body{
	font-size: 100%;
	text-align: center;
}

#mainWrapper{
	margin: auto;
	/*background: blue;*/
}

header{
	
	h1{
		font-size: 5.5rem;
		margin: 40px 0;
		font-family: 'Pacifico', cursive;
	}
}

footer{
	margin: 50px 0;
}

#peditCoLauncher,
.peditDecoLauncher{
	cursor: pointer;

	&:hover{
		text-decoration: underline;
	}
}